---
layout: layouts/base.njk
title: Home
permalink: /
---

{# Author:      Colin Bond
   Date:        October 4 2024
   File:        home.njk
   Description: A template file to fill the content in base.njk for the eventual homepage of the site.  #}

<img src="../../20220906_143453.png" alt="Colin selfie">
<h1>Welcome!</h1>
<p>My name is Colin. I'm a student developer living in Oshawa, Ontario, Canada. Here, you'll find some of my other work.</p>