---
layout: layouts/base.njk
title: About
permalink: /about
---

{# comment #}

<h1>About Me</h1>
<p>I am a super passionate software developer, and I love coding all the time. My favourite languages are Python, JavaScript and C#</p>
